body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header{
    padding: 1rem;
    background-color: #1f2937;
    color: #f9faf8;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5rem;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

figure{
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.quote{
    background-color: #e5e7eb;
    color:#1f2937;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

blockquote{
    margin-bottom: 0;
}

cite{
align-self: flex-end;
margin: 1rem;
margin-top: 0;
}

.action{
    margin: 3rem;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
}

button{
    margin:.5rem;
    padding: .5rem;
    background-color: #3882f6;
    color: #f9faf8;
}

footer{
    text-align: center;
    margin-top: auto;
    /* remember this margin-top: auto to prevent floating footer! */
    padding: .5rem;
    background-color: #1f2937;
    color:#f9faf8;
}